/*doc
---
title: Welcome
name: welcome
category: Index
---

This style documentation will help you to use
[Bootstrap nav-step](https://github.com/DasATeam/bootstrap-nav-step) in your projects.

The Bootstrap nav-step is an extenstion of bootstrap nav itself, because
in lot of cases we usually need some kind of step by step component to
help navigate user in our application.

If you want to use Bootstrap nav-step you can go to our
[git repository](https://github.com/DasATeam/bootstrap-nav-step)
and head to dist/bootstrap-nav-step.css.

This is a work in progress, we welcome feedback too.

*/
