/*doc
---
parent: state
title: Active
name: active
---

Active state used in step which the user currently on.

```html_example
<ul class="nav-step">
  <li class="active"><a href="#">Active state step</a></li>
</ul>
```
*/
