/*doc
---
parent: state
title: Disabled
name: disabled
---

Disabled state used in step which the user cannot click right now, but we inform
what step they will face.

In disabled state, you must not to add `<a>` tag.

```html_example
<ul class="nav-step">
  <li class="disabled">Disabled state step</li>
</ul>
```
*/
