/*doc
---
parent: state
title: Done
name: done
---

Done state used in step which the content is completed by user.

```html_example
<ul class="nav-step">
  <li class="done"><a href="#">Done state step</a></li>
</ul>
```
*/
