/*doc
---
parent: state
title: Normal
name: normal
---

Normal state used in step which user can click and change.

```html_example
<ul class="nav-step">
  <li><a href="#">Normal state step</a></li>
</ul>
```
*/
