/*doc
---
title: State
name: state
category: State
---

The state is 4

```html_example
<ul class="nav-step">
  <li class="done"><a href="#">1. Step 1</a></li>
  <li class="active"><a href="#">2. Step 2</a></li>
  <li><a href="#">3. Step 3</a></li>
  <li class="disabled">4. Step 4</li>
</ul>
```
*/
