/*doc
---
title: Quick Start
name: quickstart
category: Quick Start
---

We made it simple to use our nav-step, you only need `nav-step` class on `<ul>`, then
add `<li>`.

In order to give extra information about current position, what have done, what
step you cannot press, see [state](state.html).

```html_example
<ul class="nav-step">
  <li><a href="#">1. Step 1</a></li>
  <li><a href="#">2. Step 2</a></li>
  <li><a href="#">3. Step 3</a></li>
  <li><a href="#">4. Step 4</a></li>
</ul>
```
*/
